.recipe{
    margin: 2rem;
    padding: .2rem;
    border-radius: 1rem;
    box-shadow:  10px 15px 5px rgba(0, 0, 0, 0.19);
    border: 1px solid black;
}
.card-text{
    font-size: 1rem;
    font-weight: 500;
}
.pop-up-img{
    padding: 1rem .5rem;
}
.url-btn{
    background-color: black;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
.url-btn a{
    text-decoration: none;
    color: white;
}
.des{
    padding: .5rem;
    font-size: 1.2rem;
    font-weight:400;
}
.head{
    padding: 1rem;
    font-weight: 500;
}